.page {
    text-align: right;

    a+a {
        margin-left: 10px
    }

    margin: 0 20px;
}

.post {
    
}

.main {
    display: flex;
    justify-content: center;
    margin: auto;

    article {
        padding: 0 20px;
    }
    aside {
        padding: 0 10px;
    }
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    background-color: #ffffff;
    border: #007acc 5px solid;
    border-radius: 10px;

    p h3 {
        margin: 0;

    }
}

.layout {
    header{
        text-align: center;
    };
    nav {
        text-align: center;
        padding: 10px 0;
    };
    footer {
        text-align: center;
    };
}